body {
    font-family: sans-serif;
    background: #7B7BFF;
    color: white;
}

#control-bar {
    height: 20px;
    -webkit-app-region: drag;
    background: red;
}

#close {
    float: right;
    -webkit-app-region: no-drag;
}

#close:hover {
    cursor: pointer;
}

button {
    display: block;
    margin: auto;
}